{
   "name": "default",
   "type":"postgres",
   "host":"localhost",
   "port": 5432,
   "username":"matclickagenda",
   "password":"MMAab1cbf7bb9c6e0c4734a4acbb3472fJ2es",
   "database":"clickagenda",
   "migrations": ["./dist/database/migrations/*.js"],
   "entities": ["./dist/modules/**/entities/*.js"],
   "cli": {
    "migrationsDir": "./dist/database/migrations"
   }
}
